header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 100;

  &.header-light {
    a {
      color: $pink;
    }

    nav > ul > li {
      &.active {
        a {
          color: $white;
          border-bottom: 1px solid $white;
          padding-bottom: 0.3rem;
        }
      }

      > ul > li {
        &.active {
          color: $white;
          border-bottom: 1px solid $white;
          font-weight: bold;
        }
      }
    }
  }

  &.header-dark {
    .logo-light {
      display: none;
    }

    .logo-dark {
      display: block;
    }

    nav > ul > li.active {
      &.active {
        a {
          border-bottom: 1px solid $green;
          padding-bottom: 0.3rem;
        }
      }
    }
  }

  .logo {
    display: block;
    width: 215px;
    height: auto;
    margin-bottom: 1.5rem;

    &.logo-dark {
      display: none;
    }
  }

  nav {
    > ul > li {
      font-size: 1.66rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.75rem;

      &.active {
        a {
          border-bottom: 1px solid $green;
          padding-bottom: 0.3rem;
        }
      }

      ul {
        display: none;
      }

      li {
        font-size: 0.85rem;
        font-weight: normal;
      }
    }

    a {
      display: inline-block;
      color: $green;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
